thead, tbody { display: block; }

tbody {
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
td, th{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}



